// sassでカラーを使用するとき用

// 使用するファイルで最初に下記を記述
// コンポーネント用 → @import "../styles/variables.scss";
// ページ用 → @import "./styles/variables.scss";

// $base: #fff4ea;
// $main: #fadfa1;
$base: #f5efea;
$main: #dfd1be;
$sub: #c96868;
$accent: #7eacb5;
$text: #755d52;
$main_pale: #fbe8bb;
$white: #fdfdfd;
