@import "../../styles/variables.scss";

.resultContainer {
  color: $main;
  margin: 44px 0 120px 0; //resultPage全ての上下の余白

  .resultTitle {
    //検索結果
    position: relative;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 35%;
      height: 1.5px;
      background-color: #b9a6a6;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }

  .resultList {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resultItem {
    //li
    width: 318px;
    height: 194px;
    margin: 15px 0;
    background-size: contain;
    background-position: center;
    position: relative;
    &:nth-last-of-type(n) {
      background-image: url(/img/book_bg_pink.svg);
    }
    &:nth-last-of-type(2n) {
      background-image: url(/img/book_bg_yellow.svg);
    }
    &:nth-last-of-type(3n) {
      background-image: url(/img/book_bg_blue.svg);
    }
    .resultItemWrap {
      //Flexで画像と説明を横並びにするためのWrap
      display: flex;
    }
    .itemImageWrap {
      width: 160px;
      height: 194px;
      display: flex;
      align-items: center;
      justify-content: center;

      .imgWrap {
        width: 120px;
        height: 120px;
        padding-left: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: right;
        }
      }
    }
    .itemDescriptionWrap {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 150px;
      h3 {
        //本の題名
        text-align: center;
        font-size: 1.6em;
        font-weight: normal;
        margin: 38px 0 6px 0;

        width: fit-content;
        height: fit-content;
        overflow: scroll;
        // border-bottom: 1.5px solid $text;
      }
      .summaryContainer {
        width: 130px;
        height: 78px;
        overflow: hidden;
        margin-bottom: 20px;
        text-decoration: underline #9e9e9e;
        text-underline-offset: 0.2rem;
        font-size: 1em;
        .summary {
        }
      }

      // .fixedBottom {
      //   position: absolute;
      //   bottom: 25px;
      //   left: 170px;
      // }
    }
  }
}
