@import "../../../styles/variables.scss";

.detailTtlWrap {
  padding: 26px 14px;
  margin: 18px;
  width: 360px;
  height: 188px;
  position: relative;
  //Flexで画像と説明を横並びにするためのWrap
  display: flex;
  gap: 18px;
  .itemImageWrap {
    width: 170px;
    height: 162px;
    display: flex;
    // align-items: center;
    // justify-content: center;

    .image {
      width: 100%;
      height: auto;

      object-fit: cover;
    }
  }

  .itemDescriptionWrap {
    width: 180px;
    .fixedBottom {
      position: absolute;
      bottom: 25px;
      left: 190px;
      p {
        font-size: 1.4rem;
        margin: 10px 0;
      }
    }
  }
}
