@use "../styles/variables.scss" as *;
.container {
  width: 100%;
  height: 100dvh;
  color: $main;
}

.btnWrap {
  height: 16dvh;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem 0;
  .closeBtn {
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: $main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lockBtn {
    font-size: 1.6rem;
    color: $main;
    font-weight: 500;
  }
}

.pictureBooksWrap {
  width: 100%;
  height: calc(100dvh - 16dvh - (100dvh / 9));
  max-width: 150%;
  overflow-x: auto;
  ul {
    width: 100%;
    height: 100%;
    padding-left: 2dvw;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1.6rem;
    li {
      width: 12rem;
      height: 16rem;
      background-image: url("/img/readingBook.svg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        font-size: 1.6rem;
        margin: 0.8rem 0;
      }
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border: 1px solid $main;
      }
    }
  }
}
