@import "./styles/variables.scss";

.main {
  width: 88%;
  margin: 0 auto;
}

.selectList {
  max-height: 50dvh;
  overflow: scroll;
}

.keywordWrap {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  div {
    width: 100%;
    h2 {
      font-size: 1.2rem;
      color: $text;
    }
    ul {
      margin-top: 0.8rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      li {
        font-size: 1.6rem;
        color: $text;
        background-color: $white;
        padding: 0.2rem 1rem;
        border-radius: 16px;
        border: 1.5px solid $sub;
        &.selected {
          background-color: $sub;
          color: $white;
        }
      }
    }
  }
}

.btnWrap {
  // width: 100%;
  padding: 3.2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  .resetBtn {
    width: calc(100% / 3);
    background-color: $white;
    padding: 0.6rem 0;
    color: $accent;
    border: 2px solid $accent;
    border-radius: 8px;
    // filter: drop-shadow(0px 1px 1px #457078);
  }
  .searchBtn {
    width: calc(100% / 3 * 2 - 1.6rem);
    color: $white;
    background-color: $accent;
    padding: 0.6rem 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;

    // filter: drop-shadow(0px 1px 1px #457078);
  }
}
