@import "./styles/variables.scss";

.questionWrap {
  padding: 0 2.4rem;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.6rem;
  .question {
    position: relative;
    display: inline-block;
    padding: 16px 8px;
    border: 2px solid $text;
    border-radius: 4px;
    background-color: $white;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $text;
    align-self: flex-start;
  }
  .question::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 32%;
    border-style: solid;
    border-width: 16px 0 0 24px;
    border-color: $text transparent transparent;
    translate: -50% 100%;
    transform: skew(11deg);
    transform-origin: top;
  }
  .question::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 32%;
    border-style: solid;
    border-width: 13.2px 0 0 19.8px;
    border-color: $white transparent transparent;
    translate: calc(-50% + 0.6px) 100%;
    transform: skew(11deg);
    transform-origin: top;
  }
  .cat {
    align-self: flex-end;
    width: 24rem;
    height: 18rem;
    background-size: cover;
    background-position: center;
    background-image: url("../../public/img/cat.png");
  }
}

.answerWrap {
  padding: 2.4rem 2.4rem 0;
  ul {
    margin-top: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    li {
      font-size: 1.6rem;
      color: $text;
      background-color: $white;
      padding: 0.2rem 1.2rem;
      border-radius: 16px;
      border: 1.5px solid $sub;
      &.selected {
        background-color: $sub;
        color: $white;
      }
    }
  }
}

.btnWrap {
  width: 100%;
  position: fixed;
  bottom: 16dvh;
  display: flex;
  justify-content: space-evenly;
  column-gap: 0.8rem;
  align-items: end;
  button {
    padding: 0.2rem 1.6rem;
    border: 2px solid $text;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-weight: bold;
    color: $text;
    &:nth-child(2) {
      padding: 0.8rem 1.2rem;
      background-color: $text;
      a {
        color: $white;
        span {
          font-size: 1.2rem;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
