@import "../styles/variables.scss";

.mainTitleWrap {
  //見出し
  position: relative;
  margin: 80px 0;
  background-color: $base;
  z-index: 10000;
  .mainTitle {
    top: 0;
    left: 0;
    text-align: center;
    background-color: $base;
    width: 100vw;
    padding: 40px 0;
    font-size: 3em;
    color: $main;
    position: fixed;
  }
}

.searchBarWrap {
  padding: 47px 0px 7px 0px;
  width: 94vw;
  position: relative;
  position: fixed;
  z-index: 1000;
  background-color: $base;
  .sortIcon {
    width: 16px;
    height: 18px;
    background-image: url(../../../public/img/saved_icon_sort.jpg);
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}

.resultContainer {
  color: $main;

  .resultList {
    width: 360px;
    margin: 44px auto 120px auto; //resultPage全ての上下の余白

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    .resultItemWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: left;
      padding-top: 100px;

      .resultItem {
        //li
        position: relative;
        width: 160px;
        height: 180px;
        // margin: 15px 0;
        background-color: $base;

        border-radius: 15px;
        // box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.25);

        .resultItemCard {
          width: 160px;
          height: 180px;
          border: 5px solid #c2b09a;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          position: relative;
          h3 {
            margin-top: 10px;
            display: block;
            position: absolute;
            top: -5px;
            left: 5%;
            right: 0;
          }

          .deleteBtn {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $base;
            border: 1px solid $main;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            right: -10px;
            top: -10px;
            p {
              display: block;
              font-size: 1rem;
            }
          }
        }
        .itemImageWrap {
          height: 170px;
          display: flex;
          align-items: center;

          .imgWrap {
            width: 140px;
            height: 140px;
          }
          .image {
            width: 140px;
            height: 140px;
          }
        }
        .itemDescriptionWrap {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 150px;
          h3 {
            //本の題名
            text-align: center;
            font-size: 1.6em;
            font-weight: normal;
            margin: 38px 0 6px 0;

            width: fit-content;
            height: fit-content;
            overflow: scroll;
            // border-bottom: 1.5px solid $text;
          }

          // .fixedBottom {
          //   position: absolute;
          //   bottom: 25px;
          //   left: 170px;
          // }
        }
      }
    }
  }
}
