@import "../styles/variables.scss";

.resultContainer {
  color: $text;
  margin: 44px 0; //resultPage全ての上下の余白
  // border: 1px solid #000;

  h2 {
    position: relative;
    text-align: center;
    font-size: 1.4em;
  }
  h3 {
    font-size: 2em;
  }
}
